
html,
body {
  background-color: #fffff0;
  font-family: 'Montserrat Variable', sans-serif !important;
  overflow-x: hidden;
}
#experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top, #FAFAFA , #fffff0);
  overflow: hidden;
}